.mainPage{
    flex-grow: 1;
}
.frame{
    display: flex;
    margin-top: 60px;
}
.column1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 475px;
    font-weight: 600;
    font-size: 20px;
    color: #C5C5C5;
}
.row1{
    margin-top: 33px;
}

.column2 {
    flex-grow: 1;
    max-width: 599px;
    margin-left: 100px;
}

.image_project {
    display: flex;
    justify-content: space-around;
}

.mainPage > button{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #3E3E3E;
    padding: 15px 15px;
    margin-top: 30px;
    background-color: #FCFCFC;
    border-radius: 20px;
}



.desc_project_row {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #C5C5C5;
    margin-bottom: 8px;
}


.customSelect{
    /* width: 473px; */
    min-width: 200px;
    background: #F4F4F4;
    border-radius: 12px 12px 12px 12px;
    font-weight: 500;
    font-size: 20px;
    color: #3E3E3E;
}

.customSelect > div{
    border: none;
    min-height: 60px;
    background: #F4F4F4;
    border-radius: 12px 12px 12px 12px;

}
.customSelect > div > div > div > *{
    white-space: break-spaces;

}
#react-select-5-listbox{
    display: flex;
    background: #FCFCFC;
}

@media (max-width: 1200px) {
    .frame {
        flex-direction: column;
        max-width: 474px;
    }

    .column2 {
        margin: 0;
    }
}